.container-main{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1455px;
    height: 850px;
    border-radius: 40px;
    margin: 135px 5px 0 440px;
    background-color: rgba(217, 217, 217, 30%);
    color: #00fff0;
    font-family: 'Quicksand', sans-serif;
}

.title-about{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 20px;
    font-weight: bold;
}

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    font-size: 25px;
}