.container-profile{
    /* height: 100vh; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 30%);
    padding: 45px;
    border-radius: 40px;
    margin: 10px 10px 20px 10px;
}

.img-profile {
    border-radius: 20px;
    width: 324px;
    height: 330px;
    margin-bottom: 25px;
}

.name-profile{
    font-family: Agbalumo;
    font-size: 35px;
    color: #00fff0;
    margin-bottom: 25px;
}

.dev-frontend-title{
    font-family: 'Quicksand', sans-serif;
    color: #00fff0;
}

