.container-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learning-title {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  margin-top: 40px;
  color: #00fff0;
}

.container-icons-learning {
  display: grid;
  margin-top: 40px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 40px;
}

.container-icons-learning > svg {
  margin: 30px 25px;
}

.icon-learning {
  padding: 20px 20px 10px 20px;
  margin: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
